* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'glitchgoblin';
  src: url(fonts/GlitchGoblin.ttf) format('truetype');
}

body {
  background-color: #000;
  color: #20c20e;
  font-family: 'glitchgoblin', sans-serif;
}

header {
  font-family: 'glitchgoblin', sans-serif;
  padding: 2% 0 2%;
}

header h1 {
  color: #20c20e;
  text-align: center;
  font-size: 5em;
}

nav {
  text-align: center;
  padding: 0 0 2%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  font-size: 2em;
  padding: 0 2%;
}

main {
  font-family: 'glitchgoblin', sans-serif;
}

main h2 {
  color: #20c20e;
  text-align: center;
}
