


@font-face {
  font-family: 'glitchgoblin';
  src: url(fonts/GlitchGoblin.ttf) format('truetype');
}

body {
  background-color: #000;
}

header {

}

header h1 {
  color: #20c20e;
  font-family: 'glitchgoblin', sans-serif;
  text-align: center;
  font-size: 3em;
}

main h1 {
  color: #20c20e;
  font-family: 'glitchgoblin', sans-serif;
  text-align: center;
}
