


@font-face {
  font-family: 'glitchgoblin';
  src: url(fonts/GlitchGoblin.ttf) format('truetype');
}

body {
  background-color: #000;
}

header {
  font-family: 'glitchgoblin', sans-serif;
}

header h1 {
  color: #20c20e;
  text-align: center;
  font-size: 5em;
}

main {
  font-family: 'glitchgoblin', sans-serif;
}

main h2 {
  color: #20c20e;
  text-align: center;
}
